* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.container{
    background-color: black;
    padding: 2rem 5rem 5rem 5rem;
    width: 100%;
    margin: auto;
    height: 85vh;
}


.users{
    position: relative;
    margin: 0.3rem;
    width: 100%;
    height: 8rem;
    width: 14rem;
}

.nome
{
position: absolute;
color: white;
bottom: 0;  
padding: 1px;
background-color: #4a4a4a8c;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speker-viewport{
    width: 100%;
    height: 5vh;
    background-color:black
}

.speker-viewport ul{
    justify-content: flex-end;
    list-style: none;
    display: flex;
    height: 1rem;
    width: 100%;
    padding: 1rem;
}

button{
    padding: 3px;
    border-radius: 5px;
    background-color: #4A4A4A;
    border: none;
    color: white;
}
.speker-viewport li{
    margin: 2px;
}


.container-bar{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #222222;
}

.container-bar section{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: ;
    
}

.left-icon{
    position: relative;
    align-items: center;
    display: flex;
    width: 10%;
    height: 100%;
    
}



.center-icon{
    width:85% ;
    height: 100%;
   
}

.close-call{
    justify-content: center;
    align-items: center;
    color: red;
    display: flex;
    width: 5%;
    height: 100%;
    background-color:#4A4A4A;
}

.mic{
    color: white;
    padding: 1.4rem;
    display:block;
    height: 100%;
    width: 30%;
   
}
.mic i{
    font-size: xx-large;
}

.arrow{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:10% ;
   
}

.video{
    color: white;
    padding: 1.3rem;
    height: 100%;
    width: 40%;
    
}

.video i{
    font-size: xx-large;
}

.add-p{
    color: white;
    padding: 1.5rem;
    margin-left: 25rem;
    width: 5%;
    height: 100%;
   

}

.add-p i{
    font-size: xx-large;
    display: block;
}






