* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.container{
    background-color: black;
    padding: 2rem 5rem 5rem 5rem;
    width: 100%;
    margin: auto;
    height: 85vh;
}


.users{
    position: relative;
    margin: 0.3rem;
    width: 100%;
    height: 8rem;
    width: 14rem;
}

.nome
{
position: absolute;
color: white;
bottom: 0;  
padding: 1px;
background-color: #4a4a4a8c;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speker-viewport{
    width: 100%;
    height: 5vh;
    background-color:black
}

.speker-viewport ul{
    justify-content: flex-end;
    list-style: none;
    display: flex;
    height: 1rem;
    width: 100%;
    padding: 1rem;
}

button{
    padding: 3px;
    border-radius: 5px;
    background-color: #4A4A4A;
    border: none;
    color: white;
}
.speker-viewport li{
    margin: 2px;
}

               /* footer */
  /* container */
.container-bar{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #222222;
}

.container-bar section{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: ;
    /* container */
}

.arrow{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:10% ;
   
}
/* icone di destra */
.close-call{
    justify-content: center;
    align-items: center;
    color: red;
    display: flex;
    width: 5%;
    height: 100%;
    background-color:#4A4A4A;
}

/* icone di sinistra */
.left-icon{
    color: white;
    position: relative;
    align-items: center;
    display: flex;
    width: 10%;
    height: 100%;
}

/* mute */
.mic{
    color: white;
    padding: 1.4rem;
    display:block;
    height: 100%;
    width: 30%;
   
}

.mic i{
    font-size: xx-large;
}
/* video */
.video{
    color: white;
    padding: 1.3rem;
    height: 100%;
    width: 40%;
    
}

.fa-video{
    display: block;
    font-size: xx-large;
}

/* icone centrati */

.center-icon{
    justify-content: center;
    width:85% ;
    height: 100%;
    display: flex;
    color: white;
}

/* invite */

.add-p{
    color: white;
    padding: 1.5rem;
    width: 5%;
    height: 100%;
}

.fa-user-plus{
    padding-left: 0.3rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large;  
}
/* partecipanti */
.participants{
   
    color: white;
    padding: 1.5rem 0 0 1.5rem;
    
    width: 11%;
    height: 100%;
    
}

.fa-user-group{
    padding-left: 2.5rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large;
}

/* polling */

.polling{
   
    color: white;
    padding: 1.5rem 0 1.5rem 0;
    width: 5%;
    height: 100%;
}

.fa-chart-column{
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large; 
}

/* share screen */

.share-screen{
   
    color: white;
    padding: 1.5rem ;
    width: 8%;
    height: 100%;
}

.fa-share-from-square{
    color: green;
    padding-left: 1.6rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large; 
}

/* arrow */
.arrow-1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:0.4% ;
   
}

/* chat */

.chat{
    color: white;
    padding: 1.5rem;
    width: 3%;
    height: 100%;
}

.fa-comment{
   
    padding-left:0.2rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large; 
}
/* record */
.record{
    color: white;
    padding: 1.5rem;
    width: 4%;
    height: 100%;
}
.fa-record-vinyl{
   
    padding-left:0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large; 
}

.brekout-rooms{
    color: white;
    padding: 1.5rem;
    width: 9%;
    height: 100%;

}

.brekout-rooms i{
    padding-left:2rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large; 
}

.more{
    color: white;
    padding: 1.5rem 0 1.5rem 0;
    width: 3%;
    height: 100%;
}
.fa-ellipsis{
   
    padding-left:0.3rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: x-large; 
}